body {
   font-family: Arial, Helvetica, sans-serif;
   background-color: dimgray;
}

h1 {
   text-align: center;
   font-weight: bold;
}

header {
   background-color: white;
   padding: 10px;
   margin: 0px;
}

nav {
   background-color: rgb(102, 102, 102);
   padding: 3px;
   box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.315);
}

nav>a {
   text-decoration: none;
   color: white;
   font-weight: bold;
   margin: 30px;
}

nav>a:hover {
   color: chocolate;
}


main {
   background-color: white;
   padding: 10px;
   margin: 10px;
   border-radius: 33px;
}

article {
   background-color: lightgrey;
}

article>aside {
   background-color: rgb(117, 116, 116);
   padding: 5px;
}

footer {
   background-color: rgba(0, 0, 0, 0.549);
   color: white;
   text-align: center;
   padding: 25px;
   box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.315);
}

footer>p {
   margin: 0px;
}